*.dat
*.qdrep
*.sqlite
*.nvprof
*.pyc
*.o
*.csv

python/__pycache__/*
bin/*
other/*
data/init_data/*
data/profiler_data/*
data/simulation/*

# Unignore all with extensions
# !*/
# !*.*
# !simulation_info
# !incorporate
# !python
# !util
# !data
# !makefile

